body {
  cursor: url('../image/hand.png'), pointer;
  background-color: #fffde8;
}

a,
button,
li button ~ span {
  cursor: url('../image/hand-light.png'), pointer;
}

a {
  text-decoration: none;
}

.layout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: #fff9bb;
}

.header {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 2px 0;
  overflow: hidden;
  border: 2.5px black solid;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  text-align: right;
  margin-right: 10px;
}

.header-right a {
  color: #5a5a5a;
  font: normal 650 100% "微軟正黑體";
}

.header-right a img {
  width: 7%;
}

.header-left a img {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  width: 110%;
}

.container {
  position: absolute;
  width: 100%;
  border: 2.5px black solid;
  border-top-width: 0px;
}

.container-index {
  background: url("../image/map-initial.png") no-repeat fixed -65% 60%;
  background-size: 150%;
  background-color: #aeebff;
}

.container-map {
  overflow: hidden;
}

.position-absolute {
  position: absolute;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remind {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.87);
  z-index: 10;
  display: none;
}

.remind div {
  position: absolute;
  width: 90%;
  color: white;
}

.remind div span {
  display: block;
  text-align: center;
  line-height: 100px;
}

#device-orientation {
  font: normal 60px "微軟正黑體";
}

#limited-size {
  font: normal 45px "微軟正黑體";
}
