.ehanlin-loading-overlay {
  position: inherit;
  left: 1px;
  background-color: rgba(255, 255, 220, 1);
  background-size: cover;
  border: 1px solid black;
  width: 100%;
  z-index: 10;
}

.ehanlin-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%);
  height: 60px;
  margin-left: -2em;
  white-space: nowrap;
  background: radial-gradient(
    ellipse at center,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 11%,
    rgba(10, 119, 213, 1) 35%,
    rgba(83, 159, 225, 1) 79%,
    rgba(0, 127, 232, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bolder 300% 'Franklin Gothic Heavy';
  z-index: 6;
}

.ehanlin-loading:before {
  content: attr(data-ehanlin);
  position: absolute;
  max-width: 10em;
  font: bolder 'Franklin Gothic Heavy';
  white-space: nowrap;
  background: #004066;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  from {
    max-width: 0;
  }
}
