.questions-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../image/question-background.png") no-repeat;
  background-size: contain;
  min-height: 500px;
  width: 690px;
  z-index: 1;
}

.questions-format {
  position: absolute;
  top: 7%;
  left: 9%;
  width: 670px;
  z-index: 1;
}

.questions-num {
  font: normal bold 220%/2 "微軟正黑體";
  color: black;
  letter-spacing: 1px;
}

.questions-text {
  font: normal bold 120%/2 "微軟正黑體";
  color: black;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.questions-frame > li > span,
.questions-frame > li > button {
  vertical-align: middle;
  display: inline-block;
}

.questions-frame button.star {
  position: relative;
  top: 3px;
  border: 0;
  background-size: contain;
  min-height: 35px;
  width: 5%;
  height: 5%;
}

button.answer-star {
  background: url("../image/star-uncheck.png") no-repeat;
  transition-duration: .2s;
}
